@model Budget.Project

<div class="content-box">
    <div>
        <div class="box-question">
            <div style="text-align:left; margin-top:10px;">
                <div style="color:Red; font-size:20px;" class="QL1">ประเด็นที่ 8 ทบทวน/การปรับเปลี่ยนแผน (งาน งบประมาณ และ ระยะเวลา)</div>
                <div style="margin-left:15px; margin-top:15px;">
                    คำถามที่ 4 โครงการมีการเตรียมการโดยกำหนดทางเลือกที่เป็นไปได้ ในกรณีที่มีสถานการณ์การเปลี่ยนแปลงภายในและภายนอก หรือไม่
                    <span id="questionSetD4Star" class="ErrorDokJan" style="display:none; color:red">*</span><br>
                    <table>
                        <tbody>
                            <tr>
                                <td><span>@Html.RadioButton("questionSetD4", "true")<label class="field-content">มี</label></span></td>
                                <td><span>@Html.RadioButton("questionSetD4", "false")<label class="field-content">ไม่มี</label></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:10px">
                        ถ้าตอบว่า "มี" โปรดให้รายละเอียดเพิ่มเติมต่อไปนี้
                        <p style="padding-bottom:15px">
                            <span class="QL3">4.1 สรุปทางเลือกที่เป็นไปได้ในกรณีที่มีสถานการณ์การเปลี่ยนแปลงภายในและภายนอก</span><br>
                            @Html.TextArea("answerSetD41", new { @style = "width:95%", @rows = 5, cols = 20, @class = "form-control" })
                            <span id="answerSetD41Star" class="ErrorDokJan" style="display: none; color: red; ">*</span>
                            <div id="answerSetD41Message" class="question-error" style="display: none; ">ไม่สามารถกรอก ข้อ 4.1 เกิน 1500 ตัวอักษร</div>
                        </p>
                    </div>
                </div>
            </div>
            <div style="margin:5px 5px 5px 5px; text-align:center;">
                <input type="submit" value="บันทึกข้อมูลและดำเนินงานต่อไป" id="btnSaveQuestionSetD4" class="btn btn-default">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var maxLength = 5;

    $body = $("body");

    var appName = "@(ViewBag.AppName == "" ? "" : "/" + ViewBag.AppName)";

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    var d4 = undefined;
    var d41 = false;

    function validateInput() {
        //4.1 สรุปทางเลือกที่เป็นไปได้ในกรณีที่มีสถานการณ์การเปลี่ยนแปลงภายในและภายนอก
        if ($("#answerSetD41").val() == "") {
            $("#answerSetD41Star").show();
        } else {
            $("#answerSetD41Star").hide();
            if ($("#answerSetD41").val().length > maxLength)
                $("#answerSetD41Message").show();
            else
                $("#answerSetD41Message").hide();
        }
    }

    function save() {
        if (confirm("ต้องการบันทึกและดำเนินการต่อไป")) {

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: appName + "/Government/SaveAnswerD4/",
                data: JSON.stringify({
                    pId: $("#ID").val(),
                    choice: $("input[name=questionSetD4]:checked").val(),
                    answer1: $("#answerSetD41").val(),
                }),
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#message-success").text(data.Message);
                        $('#modal-success').modal('show');

                        $("#btnOkSuccess").click(function (e) {

                            e.preventDefault();
                            window.location.href = '@Url.Action("QuestionD", "Government", new { p = Budget.Security.MapCipher.Encrypt(HttpUtility.UrlEncode(@Model.ID.ToString())) })';
                        });
                    } else {
                        $("#message-fail").text(data.Message);
                        $('#modal-fail').modal('show');
                    }
                }
            });
        }
    }

    $(function () {

        $("input[name=questionSetD4]").change(function (e) {
            e.preventDefault();

            var qSetD4 = $("input[name=questionSetD4]:checked").val();
            if (qSetD4 != undefined) {
                $("#questionSetD4Star").hide();
                if (qSetD4 == "true") {
                    d4 = true;
                    $("#answerSetD41").removeAttr('disabled');
                } else {
                    d4 = false;
                    $("#answerSetD41Star").hide();
                    $("#answerSetD41Message").hide();
                    
                    $("#answerSetD41").val("").attr('disabled', 'disabled');
                }
            } else {
                $("#questionSetD4Star").show();
            }
        });

        $("#answerSetD41").change(function (e) {
            e.preventDefault();

            var answerSetD41 = $("#answerSetD41").val();
            if (answerSetD41.length > 0) {
                $("#answerSetD41Star").hide();
                if (answerSetD41.length > maxLength)
                    $("#answerSetD41Message").show();
                else {
                    d41 = true;
                    $("#answerSetD41Message").hide();
                }
            } else {
                $("#answerSetD41Star").show();
            }
        });

        $("#btnSaveQuestionSetD4").click(function (e) {
            e.preventDefault();

            //ตรวจสอบ ตำตอบ ข้อ 4.1 ไม่มีค่าว่างและไม่เกิน 1500 ตัวอักษร
            if (d4) {
                validateInput();
                if (d41) {
                    save();
                }
            } else if (d4 == undefined) {
                $("#questionSetD4Star").show();
                validateInput();
            }
            else {
                d4 = false;
                save();
            }

        });

    });

</script>