@model Budget.Project

<div class="content-box">
    <div>
        <div class="box-question">
            <div style="text-align:left; margin-top:10px;">
                <div style="color:Red; font-size:20px;" class="QL1">ประเด็นที่ 4 วิเคราะห์กระบวนการนำส่งผลผลิตและทรัพยากรที่ต้องใช้ในการดำเนินโครงการ</div>
                <div style="margin-left:15px; margin-top:15px;">
                    คำถามที่ 5 มีการกำหนดรูปแบบองค์กรพร้อมบุคลากรที่จะดำเนินงานประจำเมื่อโครงการสิ้นสุดแล้วหรือไม่
                    <span id="questionSetB5Star" class="ErrorDokJan" style="display:none; color:red">*</span><br>
                    <table>
                        <tbody>
                            <tr>
                                <td><span>@Html.RadioButton("questionSetB5", "true")<label class="field-content">มี หรือ มีบางส่วน</label></span></td>
                                <td><span>@Html.RadioButton("questionSetB5", "false")<label class="field-content">ไม่มี</label></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:10px">
                        ถ้าตอบว่า "มี" หรือ "มีบางส่วน" โปรดให้รายละเอียดเพิ่มเติมต่อไปนี้
                        <p style="padding-bottom:15px">
                            <span class="QL3">5.1 ระบุองค์กร/หน่วยงานที่จะดำเนินการบริหารหลังจากโครงการเสร็จสิ้น</span><br>
                            @Html.TextArea("answerSetB51", new { @style = "width:95%", @rows = 5, cols = 20, @class = "form-control" })
                            <span id="answerSetB51Star" class="ErrorDokJan" style="display: none; color: red; ">*</span>
                            <div id="answerSetB51Message" class="question-error" style="display: none; ">ไม่สามารถกรอก ข้อ 5.1 เกิน 1500 ตัวอักษร</div>
                        </p>
                        
                    </div>
                </div>
            </div>
            <div style="margin:5px 5px 5px 5px; text-align:center;">
                <input type="submit" value="บันทึกข้อมูลและดำเนินงานต่อไป" id="btnSaveQuestionSetB5" class="btn btn-default">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var maxLength = 1500;

    $body = $("body");

    var appName = "@(ViewBag.AppName == "" ? "" : "/" + ViewBag.AppName)";

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    var b5 = undefined;
    var b51 = false;

    function validateInput() {
        //5.1 ระบุองค์กร/หน่วยงานที่จะดำเนินการบริหารหลังจากโครงการเสร็จสิ้น
        if ($("#answerSetB51").val() == "") {
            $("#answerSetB51Star").show();
        } else {
            $("#answerSetB51Star").hide();
            if ($("#answerSetB51").val().length > maxLength)
                $("#answerSetB51Message").show();
            else
                $("#answerSetB51Message").hide();
        }        
    }

    function save() {
        if (confirm("ต้องการบันทึกและดำเนินการต่อไป")) {

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: appName + "/Government/SaveAnswerB5/",
                data: JSON.stringify({
                    pId: $("#ID").val(),
                    choice: $("input[name=questionSetB5]:checked").val(),
                    answer1: $("#answerSetB51").val(),                   
                }),
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $("#message-success").text(data.Message);
                        $('#modal-success').modal('show');

                        $("#btnOkSuccess").click(function (e) {

                            e.preventDefault();
                            window.location.href = '@Url.Action("QuestionB", "Government", new { p = Budget.Security.MapCipher.Encrypt(HttpUtility.UrlEncode(@Model.ID.ToString())) })';
                        });
                    } else {
                        $("#message-fail").text(data.Message);
                        $('#modal-fail').modal('show');
                    }
                }
            });
        }
    }

    $(function () {

        $("input[name=questionSetB5]").change(function (e) {
            e.preventDefault();

            var qSetB5 = $("input[name=questionSetB5]:checked").val();
            if (qSetB5 != undefined) {
                $("#questionSetB5Star").hide();
                if (qSetB5 == "true") {
                    b5 = true;
                    $("#answerSetB51").removeAttr('disabled');                   
                } else {
                    b5 = false;
                    $("#answerSetB51Star").hide();
                    $("#answerSetB51Message").hide();
                    
                    $("#answerSetB51").val("").attr('disabled', 'disabled');                    
                }
            } else {
                $("#questionSetB5Star").show();
            }
        });

        $("#answerSetB51").change(function (e) {
            e.preventDefault();

            var answerSetB51 = $("#answerSetB51").val();
            if (answerSetB51.length > 0) {
                $("#answerSetB51Star").hide();
                if (answerSetB51.length > maxLength)
                    $("#answerSetB51Message").show();
                else {
                    b51 = true;
                    $("#answerSetB51Message").hide();
                }
            } else {
                $("#answerSetB51Star").show();
            }
        });
        

        $("#btnSaveQuestionSetB5").click(function (e) {
            e.preventDefault();

            //ตรวจสอบ ตำตอบ ข้อ 5.1 ไม่มีค่าว่างและไม่เกิน 1500 ตัวอักษร
            if (b5) {
                validateInput();
                if (b51) {
                    save();
                }
            } else if (b5 == undefined) {
                $("#questionSetB5Star").show();
                validateInput();
            }
            else {
                b5 = false;
                save();
            }

        });

    });

</script>