@{
    ViewBag.Title = "โครงการที่ผ่านการพิจารณาจากรัฐสภา";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $body = $("body");

    var appName = "@(ViewBag.AppName == "" ? "" : "/" + ViewBag.AppName)";

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    var resultApproval = "";

    $(function () {

        getProjects();

        var selectedId = $("select option:selected").val();
        if (selectedId != "0") {
            $("#project-approved-table").show();
            getProjects();
        }
        else {
            $("#project-approved-table").hide();
        }

        $("#btSearch").click(function (e) {
            e.preventDefault();

            resultApproval = "";
            var ck = $("input[name=ck]");
            var first = true;            

            for (var i = 0; i < ck.length ; i++) {
                if (first) {

                    if (ck[i].checked)
                        resultApproval += "true";
                    else
                        resultApproval += "false";
                    first = false;
                } else {
                    if (ck[i].checked)
                        resultApproval += ",true";
                    else
                        resultApproval += ",false";
                }
                    //resultApproval.push(ck[i].checked);
            }

            getProjects();
        });

        $("#btClear").click(function (e) {
            e.preventDefault();
            $("#ddlDepartment").val("0");
            $("#tbYear").val("");
            $("#tbBudget").val("");
            var ck = $("input[name=ck]");
            for (var i = 0; i < ck.length ; i++) {
                ck[i].checked = true;
            }

            resultApproval = ["true", "true", "true"];
            getProjects();
        });
    });

    function getProjects() {        
        $.ajax({
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: appName + "/Budgetor/GetProjectApprovedByDepartment/",
            data: {
                id: $("#ddlDepartment option:selected").val(),
                year: $("#tbYear").val(),
                budget: $("#tbBudget").val(),
                resultChecked: resultApproval,
            },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    //debugger
                    //clear datatable
                    $('#project-approved-table').dataTable({
                        "bDestroy": true
                    }).fnDestroy();


                    $('#project-approved-table').DataTable({
                        "dom": '<"toolbar">frtip',
                        searching: false,
                        ordering: true,
                        paging: true,
                        //scrollY: 400,
                        //"bProcessing": true,
                        //"bDeferRender": true,
                        data: data.model,
                        columns: [
                            { data: 'NameLink' },
                            { data: 'BudgetType' },
                            { data: 'Department.Code' },
                            { data: 'Year' },
                            { data: 'Budget', sClass: "right" },
                            { data: 'Status' },
                            { data: 'BudgetApproved', sClass: "right" },
                            { data: 'LastUpdate' },
                            { data: 'RiskBox', sClass: "risk" },
                        ]
                    });

                    $("#project-approved-table").show();

                    if (data.model.length <= 0)
                        $("#project-approved-table_paginate").hide();

                    //if (data.model.length <= 0) {
                    //    $("#table_id_paginate").hide();
                    //} else {
                    //    $("#project-approved-table").show();
                    //}

                } else {
                    $("#message-fail").text(data.Message);
                    $('#modal-fail').modal('show');
                }
            }
        });
    }
</script>

<div>
    <div class="modal"></div>
    <fieldset class="fieldset">
        <legend class="legend">@Html.Label("", "ค้นหาโครงการ")</legend>
        <table>
            <tr>
                <td style="padding-right:10px">
                    <input type="checkbox" name="ck" checked="checked" id="isApproval" />
                    <label class="field-content" style="padding-left:5px">ผ่านการอนุมัติจากรัฐสภา</label>
                <td>
                <td style="padding-right:10px">
                    <input type="checkbox" name="ck" checked="checked" id="isDisapproval" />
                    <label class="field-content" style="padding-left:5px">ไม่ผ่านการอนุมัติจากรัฐสภา</label>
                </td>
                <td>
                    <input type="checkbox" name="ck" checked="checked" id="isDisapprovalByBudgetor" />
                    <label class="field-content" style="padding-left:5px">ไม่ผ่านการพิจารณาในระดับสำนักงบประมาณ</label>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>@Html.Label("", "ค้นหาโครงการแยกตามหน่วยงาน")</td>
                <td>@Html.DropDownList("ddlDepartment", null, new { @class = "form-control" })</td>
            </tr>
            <tr style="height:40px">
                <td>@Html.Label("", "ปีงบประมาณ")</td>
                <td>@Html.TextBox("tbYear", null, new { @class = "form-control" })</td>
            </tr>
            <tr style="height:40px">
                <td>@Html.Label("", "งบประมาณ")</td>
                <td>@Html.TextBox("tbBudget", null, new { @class = "form-control numericOnly" })</td>
            </tr>
        </table>
        <input type="button" value="ค้นหา" class="btn btn-default" id="btSearch" />
        <input type="button" value="เคลียร์" class="btn btn-default" id="btClear" />
    </fieldset>
</div>

<div style="padding-top:5px">
    <table id="project-approved-table" class="table table-bordered table-striped table-hover" cellpadding="0" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='10'>
        <thead>
            <tr>
                <th class="center" style="width:360px;vertical-align:middle">ชื่อโครงการ</th>
                <th class="center" style="width:114px;vertical-align:middle">ลักษณะโครงการ</th>
                <th class="center" style="width:114px;vertical-align:middle">รหัสหน่วยงาน</th>
                <th class="center" style="width:100px;vertical-align:middle">ปีงบประมาณ</th>
                <th class="center" style="width:129px;vertical-align:middle">งบประมาณ (บาท)</th>
                <th class="center" style="width:129px;vertical-align:middle">สถานะโครงการ</th>
                <th class="center" style="width:129px;vertical-align:middle">วงเงินที่ได้รับการอนุมัติจากรัฐสภา</th>
                <th class="center" style="width:158px;vertical-align:middle">วันที่แก้ไขครั้งสุดท้าย</th>
                <th class="center" style="width:205px;vertical-align:middle">ผลการการวิเคราะห์ความเสี่ยง</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

