@model Budget.Project

@{
    ViewBag.Title = "คำถามชุด จ: การจัดลำดับและจัดสรรงบประมาณโครงการ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.ErrorMessage != null)
{
    @ViewBag.ErrorMessage
}
else
{

    @Html.HiddenFor(x => x.ID)

    if (@Model.Status == Budget.Status.SaveAnswerSetD6 && @Model.StatusCategory == Budget.StatusCategory.IncompleteAnswerD)
    {
        <div id="questionE1">
            @Html.Partial("Questions/_QuestionE1", @Model)
        </div>
    }
    else if (@Model.Status == Budget.Status.SaveAnswerSetE1 && @Model.StatusCategory == Budget.StatusCategory.IncompleteAnswerE)
    {
        <div id="questionBSuccess">
            เสร็จสิ้นการประเมินชุด จ: ขั้นตอนการริเริ่มแผนงาน/โครงการและวิเคราะห์เบื้องต้น โปรดดำเนินการต่อ
            <div>
                <input type="submit" value="ดำเนินงานต่อไป" id="btnSaveQuestionSetEContinun" class="btn btn-default">
            </div>
        </div>
    }

}

<script type="text/javascript">

    $(function () {

        $("#btnSaveQuestionSetEContinun").click(function (e) {
            e.preventDefault();

            window.location.href = '@Url.Action("QuestionChoice", "Government", new { p = Budget.Security.MapCipher.Encrypt(HttpUtility.UrlEncode(@Model.ID.ToString())) })';
        });
    });
</script>
